@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-black text-white;
  }

  /* Hide scrollbars globally */
body::-webkit-scrollbar {
    display: none;
  }
  
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  /* Hide scrollbars for all elements */
  *::-webkit-scrollbar {
    display: none;
  }
  
  * {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  